body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.search-container {
    width: 80%;
    max-width: 600px; /* 调整搜索框最大宽度为合理值 */
    position: relative;
}

#searchInput {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#results {
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 5px 5px;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    background-color: white;
    display: none;
}

#results li {
    padding: 10px;
    cursor: pointer;
}

#results li:hover {
    background-color: #f0f0f0;
}

.header-image {
    width: 300px;
    height: 200px;
    object-fit: contain;
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin-bottom: 0;
    z-index: 10; /* 确保图片在最上层 */
}

.container {
    min-height: 100vh;
    height: 100vh;
    overflow: hidden;
}
